{%  extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

<h1 class="tacua">Twig de user index</h1>


    <button class="btn-success">BOTON</button>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
